@model MediaLibrary.ViewModels.Recording.CreateViewModel
<h4>Recording</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Labels, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.SelectedLabelId, Model.Labels, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Artists, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.SelectedArtistId, Model.Artists, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div id="Tracks">

@for( var i = 0; i < Model.TrackTitles.Count; i++)
{
    <div id="Track">
        <div class="form-group">
            @Html.LabelFor(model => model.TrackTitles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrackTitles[i], null, "TrackTitles", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Durations, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Durations[i], null, "Durations", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Delete" class="btn btn-default" id="Delete" />
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Up" class="btn btn-default" id="Up" />
            <input type="button" value="Down" class="btn btn-default" id="Down" />
        </div>
    </div>
}

</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Generate" class="btn btn-default" id="Generate" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
